body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f7f7f7;
    margin: 0;
    padding: 0;
}

h1 {
    color: #333;
}

.shape-form {
    margin: 20px;
    padding: 20px;
    background-color: #f0f0f0;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.shape-details {
    display: none;
    margin: 10px 0;
}

#result {
    display: block;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}
